
.body {
    background-color: white;
}

.header {
    font-family: Inter, sans-serif;
    display: flex;
    height: 35px;
    padding: 10px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #5D769A;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
}

.header--links {
    display: flex;
    gap: 50px;
    margin-right: 40px;
}

.header--title {
    color: white;
    margin-left: 10px;
    font-size: 18px;
}


.header--info {
    color: white;
}

.header--feedback {
    color: white;
    margin-right: 20px;
}

.button-link {
    background: none!important;
    border: none;
    padding: 0!important;
    color:white;
}

footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 46px;
    background-color: #5D769A;
    color: white;
    gap: 23px;
}

.footer--lauseke, .footer--tekijat {
    font-weight: 500;
    font-size: 16px;
    background: none!important;
    border: none;
    padding: 0!important;
    color: white;
    cursor: pointer;

}

.footer--lauseke {
    margin-left: 8%;
}

main {
    padding: 100px;
    display: flex;
    font-family: Inter, sans-serif;
}

.form--input {
    grid-column-start: 4;
    height: 45px;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    background-color: #D7E2F2;
    font-size: 16px;
    font-weight: bold;
    border-style: solid;
    border-width: 0.5px;
}

::placeholder {
    color: black;
    font-weight: 200;
}

.form--allergy {
    vertical-align: bottom;
    grid-column-start: 1;
    margin-left: 30px;
}

.form--allergy input {
    height: 20px;
    width: 20px;
}

.form--button {
    grid-row-start: 4;
    grid-column-start: 4;
    height: 50px;
    width: 250px;
    border-radius: 20px;
    margin: 10px;
    background-color: #D7E2F2;
    font-weight: bold;
    font-size: 16px;
    border-style: solid;
    border-width: 0.5px;
}

.diagnose-form {
    display: grid;
}

.diagnose-menu {
    grid-column-start: 1;
    width: 250px;
    padding: 0;
    padding-top: 15px;
    margin: 0;
    text-indent: 25px;
    border-style: solid;
    border-width: 0.5px;
}

.menu--selected {
    background-color: #D7E2F2;
    margin: 10px;
    border-radius: 20px;
}

.menu--items :nth-child(odd) {
    background-color: #F3F6FA;
}

.menu--items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 40px;;
}

.menu--items li {
    height: 40px;
}

.menu--bottom {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
  
.diagnose-menu a {
    background-color: #D7E2F2;
    color: black; 
    display: block;
    text-decoration: none;
  }
  
.diagnose-menu a:hover {
    background-color: hsl(216,34,40);
  }
  
.diagnose-menu a:active {
    background-color: #D7E2F2;
    color: hsl(216,34,34);
  }

.menu--top {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}