* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    background-color: #F5F5F5;
    font-family: Inter, sans-serif;
}


.header {
    font-family: Inter, sans-serif;
    display: flex;
    height: 35px;
    padding: 10px;
    top: 0;
    left: 0;
    position: relative;
    background-color: #5D769A;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
}

.header--links {
    display: flex;
    gap: 50px;
    margin-right: 40px;
}

.header--title {
    color: white;
    margin-left: 10px;
    font-size: 18px;
}


.header--info {
    color: white;
}

.header--feedback {
    color: white;
    margin-right: 20px;
}

.button-link {
    background: none!important;
    border: none;
    padding: 0!important;
    color:white;
}

footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 34px;
    background-color: #5D769A;
    color: white;
    gap: 23px;
}

.footer--lauseke, .footer--tekijat {
    font-weight: 500;
    font-size: 16px;
    background: none!important;
    border: none;
    padding: 0!important;
    color: white;
    cursor: pointer;

}

.footer--lauseke {
    margin-left: 8%;
}

main {
    font-family: Inter, sans-serif;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.antibiotics {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

section {
    background-color: transparent;
    max-height: 180px;
}

section > h1, section > h2 {
    margin-top: 30px;
    font-style: normal;
    font-weight: bolder;
}

section > h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

section > h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #5D769A;
}

section > p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.line {
    height: 0px;
    color: #5D769A;
    opacity: 0.5;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid #5D769A;
}

aside {
    background-color: #FBFBFB;
    z-index: -1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

.aside-text {
    width: 80%;
    margin-top: 86px;
}

.aside-update {
    width: 85%;
    margin-top: 25px;
    text-align: end;
}

.treatment-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #E9E9E9;
    border-radius: 20px;
    height: 100%;
}

.form--input {
    grid-column-start: 4;
    height: 45px;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    background-color: #D7E2F2;
    font-size: 16px;
    font-weight: bold;
    border: 1.5px solid #395174;
}

::placeholder {
    color: black;
    font-weight: 200;
}

.form--checkbox {
    vertical-align: bottom;
    grid-column-start: 1;
    margin-left: 30px;
}

.form--checkbox input {
    height: 20px;
    width: 20px;
}

.form--button {
    grid-row-start: 4;
    grid-column-start: 4;
    height: 50px;
    width: 250px;
    border-radius: 20px;
    margin: 10px;
    background-color: #CBDAEF;
    font-weight: bold;
    font-size: 16px;
    border: 1.5px solid #395174;
}

.diagnosis-form {
    display: grid;
}

.diagnosis-menu {
    grid-column-start: 1;
    width: 250px;
    padding: 0;
    padding-top: 15px;
    margin: 10px;
    text-indent: 25px;
    border: 1.5px solid #395174;
    border-radius: 20px;
    background-color: #D7E2F2;
}


.menu--items :nth-child(odd) {
    background-color: #F3F6FA;
}

.menu--items {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    line-height: 40px;
}

.menu--items :first-child {
    border-top: 0.5px solid;
}

.menu--items li {
    height: 40px;
}

.recipe-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #E9E9E9;
    border-radius: 20px;
    height: 100%;
    margin-top: 20px;
}

.treatment-container > h2 {
    color: black;
    margin-top: 6px;
    margin-left: 23px;
}

.treatment-choises {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 400px;
    min-height: 120px;
}

.choise-container {
    height: 90%;
    width: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.choise {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    border: 1.5px solid #395174;
    cursor: pointer;
    padding: 15px;
}

.choise-header {
    color: black;
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    align-items: center;
}

.choise-inner {
    margin-top: -3px;
}

.treatment-extra {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.test2-container {
    align-self: flex-end;
}

.btn-calculate {
    margin-top: 2px;
    margin-left: 2.5%;
    width: 147px;
    height: 36px;
    border: 1.5px solid #395174;
    border-radius: 20px;
    color: #395174;
    background-color: #E9E9E9;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.btn-calculate:hover {
    background-color: #395174;
    color: #E9E9E9;
}

.strepto-info {
    padding: 5px;
    display: flex;
    width: 300px;
    height: 40px;
    background-color: #F2F2F2;
    color: #395174;
    gap: 10px;
    border-radius: 20px 0px 20px 0px;
}

.strepto-info > p {
    font-weight: 400;
    font-size: 12px;
    align-self: center;
}

.treatment-calculations {
    align-self: center;
    width: 95%;
    height: 80px;
    border: 1.5px solid #395174;
    border-radius: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.recipe-container h3 {
    margin-top: 6px;
    margin-left: 23px;
    margin-bottom: 0;
    align-self: flex-start;
    font-size: 17px;
    padding: 10px 10px 5px 10px;
}

.recipe-container h4 {
    margin-top: 0;
    margin-left: 23px;
    align-self: flex-start;
    font-size: 14px;
    padding-left: 10px;
}

.recipe-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 1.5px solid #395174;
    height: 120px;
    width: 95%;
    margin-bottom: 10px;
}

.recipe-textfield {
    display: flex;
    flex-direction: column;
    border-style: none;
    border-radius: 25px;
    font-family: Inter, sans-serif;
    padding: 5px;
    margin: 0px;
    width: 90%;
    resize: none;
}

.recipe-container-bottom {
    display: flex;
    width: 95%;
    justify-content: space-between;
    background-color: white;
    margin-left: 10px;
}

.recipe-container-bottom p {
    padding: 5px;
}

.copy-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: white;
    border: solid;
    border-width: 0.5px;
    border: 1.5px solid #395174;
    border-radius: 25px;
    font-family: Inter, sans-serif;
    font-size: 12px;
}

.copy-button:hover {
    background-color: #E9E9E9;
}

.notification-container {
    background-color: lavender;
    display:flex;
}

.copy-notification {
    background-color: #D7E2F2;
    padding: 5px;
    border-radius: 25px;    
}

.bold {
    font-weight: bold;
}